body{
    overflow: hidden;
    /* background: green !important; */
}

.ad_pad{
    padding: 5% 5% 5% 5% !important;
}

.ad_margin{
    margin: 2% 2% auto !important;
}

.text_area_no_resize{
    resize: none !important;
}

.hidden{
    display: none;
}

#appHead{
    margin-top: 10px;
}

#rowTitle{
    height: 60px !important;
}

#rowBody{
    margin-top: 25px;
}

#btnMaximizeApp{
    margin-top: 5% !important;
    margin-bottom: -15% !important;
    margin-left: 5% !important;
    width: 60% !important;
}