body{
    overflow: hidden;
}

.ad_pad{
    padding: 5% 5% 5% 5% !important;
}

.ad_margin{
    margin: 2% 2% auto !important;
}

.text_area_no_resize{
    resize: none !important;
}

.hidden{
    display: none;
}
